.modal{
  display: none;
  padding: 4rem;
  width: 100%;
  max-width: 59rem;
  border-radius: 1.8rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #1B1B29;
  color: #FFF;

  @media (max-width: 767px) {
    padding: 1.6rem;
    padding-top: 3rem;
  }
  &__title{
    margin-bottom: 3rem;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }
}

.changed-card-modal{
  &__button{
    margin-top: 4rem;
    width: 100%;
  }
  &__title{
    margin-bottom: 2.4rem;
  }
  &__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    margin: 0 auto 4rem;

  }
}